<a href="https://colab.research.google.com/github/TonyWang126/NYU-Econometrics-2021/blob/main/Note_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

Story Background: https://www.gemini.com/cryptopedia/the-dao-hack-makerdao

Event: July 20, 2016, at block 192,000

[Data Metrics](https://github.com/coinmetrics-io/data/blob/master/csv/metrics.csv)

In [ ]:
import pandas as pd
import numpy as np

###import the data for Ethereum

In [ ]:
df_eth=pd.read_csv("https://raw.githubusercontent.com/coinmetrics-io/data/master/csv/eth.csv")
df_eth.head()

         time  AdrActCnt  ...  VtyDayRet180d  VtyDayRet30d
0  2015-07-30     9206.0  ...            NaN           NaN
1  2015-07-31      424.0  ...            NaN           NaN
2  2015-08-01      413.0  ...            NaN           NaN
3  2015-08-02      432.0  ...            NaN           NaN
4  2015-08-03      444.0  ...            NaN           NaN

[5 rows x 139 columns]

In [ ]:
df_eth['time']=pd.to_datetime(df_eth['time'])
df_eth.dtypes

time                datetime64[ns]
AdrActCnt                  float64
AdrBal1in100KCnt           float64
AdrBal1in100MCnt           float64
AdrBal1in10BCnt            float64
                         ...
TxTfrValMedNtv             float64
TxTfrValMedUSD             float64
VelCur1yr                  float64
VtyDayRet180d              float64
VtyDayRet30d               float64
Length: 139, dtype: object

In [ ]:
df_eth['Type'] = 'eth'
df_eth.head()

        time  AdrActCnt  AdrBal1in100KCnt  ...  VtyDayRet180d  VtyDayRet30d  Type
0 2015-07-30     9206.0            5685.0  ...            NaN           NaN   eth
1 2015-07-31      424.0            5692.0  ...            NaN           NaN   eth
2 2015-08-01      413.0            5699.0  ...            NaN           NaN   eth
3 2015-08-02      432.0            5708.0  ...            NaN           NaN   eth
4 2015-08-03      444.0            5715.0  ...            NaN           NaN   eth

[5 rows x 140 columns]

### Import the Data for Ethereum Classic

In [ ]:
df_etc=pd.read_csv("https://raw.githubusercontent.com/coinmetrics-io/data/master/csv/etc.csv")
df_etc.head()

         time  AdrActCnt  ...  VtyDayRet180d  VtyDayRet30d
0  2016-07-20    21680.0  ...            NaN           NaN
1  2016-07-21    17037.0  ...            NaN           NaN
2  2016-07-22    13208.0  ...            NaN           NaN
3  2016-07-23     9838.0  ...            NaN           NaN
4  2016-07-24    14910.0  ...            NaN           NaN

[5 rows x 134 columns]

In [ ]:
### change to dateime
df_etc['time']=pd.to_datetime(df_etc['time'])
df_etc.dtypes

time                datetime64[ns]
AdrActCnt                  float64
AdrBal1in100KCnt           float64
AdrBal1in100MCnt           float64
AdrBal1in10BCnt            float64
                         ...
TxTfrValMedNtv             float64
TxTfrValMedUSD             float64
VelCur1yr                  float64
VtyDayRet180d              float64
VtyDayRet30d               float64
Length: 134, dtype: object

In [ ]:
df_etc['Type'] = 'etc'
df_etc.head()

        time  AdrActCnt  AdrBal1in100KCnt  ...  VtyDayRet180d  VtyDayRet30d  Type
0 2016-07-20    21680.0            5491.0  ...            NaN           NaN   etc
1 2016-07-21    17037.0            5471.0  ...            NaN           NaN   etc
2 2016-07-22    13208.0            5497.0  ...            NaN           NaN   etc
3 2016-07-23     9838.0            5499.0  ...            NaN           NaN   etc
4 2016-07-24    14910.0            5304.0  ...            NaN           NaN   etc

[5 rows x 135 columns]

# Regression Discontinguity

https://youtu.be/TfKwgGT2fSM

### create the identifier varaible for Dao Hack

In [ ]:
from datetime import date

In [ ]:
df_eth ['After_DaoHack'] =df_eth['time'].apply(lambda x: 1 if x>= date(2016,7,20) else 0)
df_eth[df_eth.time.dt.date>=date(2016,7,18)].head()

In [ ]:
df_eth['days']=df_eth.index
df_eth.head()

   index       time   PriceUSD  ...  AdrBalCnt  days  After_DaoHack
0    361 2016-07-25  13.840295  ...   260209.0     0              1
1    362 2016-07-26  11.963285  ...   261319.0     1              1
2    363 2016-07-27  13.061564  ...   261639.0     2              1
3    364 2016-07-28  12.888203  ...   263622.0     3              1
4    365 2016-07-29  12.878013  ...   267380.0     4              1

[5 rows x 11 columns]

### normalize the data

In [ ]:
df_eth['days'][df_eth.time.dt.date==date(2016,7,20)]

356    356
Name: days, dtype: int64

In [ ]:
df_eth['days']=df_eth['days']-356
df_eth[df_eth.time.dt.date>=date(2016,7,18)].head()

          time  AdrActCnt  AdrBal1in100KCnt  ...  Type  After_DaoHack  days
354 2016-07-18    18988.0            6564.0  ...   eth              0    -2
355 2016-07-19    26614.0            5492.0  ...   eth              0    -1
356 2016-07-20    25428.0            5730.0  ...   eth              1     0
357 2016-07-21    22477.0            5866.0  ...   eth              1     1
358 2016-07-22    24563.0            5917.0  ...   eth              1     2

[5 rows x 142 columns]

## create the regression function

https://www.statsmodels.org/stable/index.html

In [ ]:
 import statsmodels.api as sm
 import statsmodels.formula.api as smf

In [ ]:
results = smf.ols('TxTfrValAdjUSD ~ 1+ After_DaoHack +days+AdrBalCnt ', data=df_eth).fit()

In [ ]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         TxTfrValAdjUSD   R-squared:                       0.272
Model:                            OLS   Adj. R-squared:                  0.271
Method:                 Least Squares   F-statistic:                     267.8
Date:                Sun, 27 Jun 2021   Prob (F-statistic):          1.20e-147
Time:                        16:15:00   Log-Likelihood:                -50256.
No. Observations:                2150   AIC:                         1.005e+05
Df Residuals:                    2146   BIC:                         1.005e+05
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept     -1.992e+09   2.44e+08     -8.178      0.000   -2.47e+09   -1.51e+09
After_DaoHack  4.165e+09   4.45e+08      9.361      0.000    3.29e+09    5.04e+09
days           -1.13e+07   9.04e+05    -12.501      0.000   -1.31e+07   -9.53e+06
AdrBalCnt       412.1784     25.144     16.393      0.000     362.869     461.488
==============================================================================
Omnibus:                     4074.707   Durbin-Watson:                   0.830
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         12448080.541
Skew:                          13.827   Prob(JB):                         0.00
Kurtosis:                     374.740   Cond. No.                     1.86e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.86e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
results = smf.ols('TxTfrValAdjUSD ~ 1+ After_DaoHack + days +After_DaoHack*days +AdrBalCnt', data=df_eth).fit()

In [ ]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         TxTfrValAdjUSD   R-squared:                       0.288
Model:                            OLS   Adj. R-squared:                  0.287
Method:                 Least Squares   F-statistic:                     217.4
Date:                Sun, 27 Jun 2021   Prob (F-statistic):          9.04e-157
Time:                        16:15:00   Log-Likelihood:                -50232.
No. Observations:                2150   AIC:                         1.005e+05
Df Residuals:                    2145   BIC:                         1.005e+05
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept           -8.01e+07   3.65e+08     -0.219      0.827   -7.97e+08    6.37e+08
After_DaoHack       3.103e+09   4.66e+08      6.662      0.000    2.19e+09    4.02e+09
days               -2.675e+05   1.82e+06     -0.147      0.883   -3.84e+06     3.3e+06
After_DaoHack:days -1.446e+07   2.08e+06     -6.959      0.000   -1.85e+07   -1.04e+07
AdrBalCnt            505.9951     28.290     17.886      0.000     450.517     561.474
==============================================================================
Omnibus:                     4106.046   Durbin-Watson:                   0.848
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         13168559.772
Skew:                          14.053   Prob(JB):                         0.00
Kurtosis:                     385.371   Cond. No.                     2.13e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.13e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

# Difference in Difference

https://towardsdatascience.com/causal-inference-101-difference-in-differences-1fbbb0f55e85

### prepare the datasets

In [ ]:
Columns =["time","PriceUSD","TxTfrValAdjUSD","FeeMedUSD","RevUSD","GasLmtTxMean","Type","AdrBalCnt"]
df_eth =df_eth[Columns]
df_etc =df_etc[Columns]

In [ ]:
df_etc =df_etc.dropna()
df_etc.head()

        time  PriceUSD  TxTfrValAdjUSD  ...   GasLmtTxMean  Type  AdrBalCnt
5 2016-07-25  0.609005    3.988031e+06  ...  128512.450456   etc   258077.0
6 2016-07-26  2.550458    2.138461e+07  ...  106473.058865   etc   259978.0
7 2016-07-27  1.619800    1.597548e+07  ...  121838.776100   etc   260012.0
8 2016-07-28  1.727024    2.210299e+07  ...  118155.032968   etc   261181.0
9 2016-07-29  1.649872    1.257784e+07  ...  108353.172803   etc   262251.0

[5 rows x 8 columns]

In [ ]:
df_eth =df_eth[df_eth.time.dt.date>=date(2016,7,25)]
df_etc =df_etc[df_etc.time.dt.date>=date(2016,7,25)]

In [ ]:
df_eth=df_eth.reset_index()
df_etc=df_etc.reset_index()

In [ ]:
df_eth["days"]=df_eth.index
df_eth.head()

In [ ]:
df_etc["days"]=df_etc.index
df_etc.head()

In [ ]:
df = pd.concat([df_eth, df_etc], axis=0)
df.head()

In [ ]:
df["etc"]=df["Type"].apply(lambda x: 1 if x=="etc" else 0)
df.head()

   index       time   PriceUSD  TxTfrValAdjUSD  ...  Type  AdrBalCnt  days etc
0    361 2016-07-25  13.840295    1.100270e+08  ...   eth   260209.0     0   0
1    362 2016-07-26  11.963285    1.962552e+08  ...   eth   261319.0     1   0
2    363 2016-07-27  13.061564    1.251180e+08  ...   eth   261639.0     2   0
3    364 2016-07-28  12.888203    8.846049e+07  ...   eth   263622.0     3   0
4    365 2016-07-29  12.878013    5.242804e+07  ...   eth   267380.0     4   0

[5 rows x 11 columns]

### run the regression

Treatment: ETC hard-fork

In [ ]:
 import statsmodels.api as sm
 import statsmodels.formula.api as smf

In [ ]:
results = smf.ols('TxTfrValAdjUSD ~ 1+ etc +days+AdrBalCnt+FeeMedUSD+RevUSD+GasLmtTxMean', data=df).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         TxTfrValAdjUSD   R-squared:                       0.693
Model:                            OLS   Adj. R-squared:                  0.692
Method:                 Least Squares   F-statistic:                     1316.
Date:                Sun, 27 Jun 2021   Prob (F-statistic):               0.00
Time:                        16:15:00   Log-Likelihood:                -79764.
No. Observations:                3510   AIC:                         1.595e+05
Df Residuals:                    3503   BIC:                         1.596e+05
Df Model:                           6
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept    -7.185e+08   8.45e+07     -8.503      0.000   -8.84e+08   -5.53e+08
etc           7.354e+08      1e+08      7.328      0.000    5.39e+08    9.32e+08
days         -7.698e+04   9.06e+04     -0.849      0.396   -2.55e+05    1.01e+05
AdrBalCnt       14.5087      3.732      3.887      0.000       7.191      21.826
FeeMedUSD    -2.051e+08   3.88e+07     -5.279      0.000   -2.81e+08   -1.29e+08
RevUSD         257.1724      7.088     36.283      0.000     243.276     271.069
GasLmtTxMean   -14.3205    228.802     -0.063      0.950    -462.920     434.279
==============================================================================
Omnibus:                     9454.649   Durbin-Watson:                   1.680
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        333454144.243
Skew:                          32.100   Prob(JB):                         0.00
Kurtosis:                    1511.611   Cond. No.                     9.17e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.17e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
results = smf.ols('TxTfrValAdjUSD ~ 1+ etc +days +etc*days+AdrBalCnt+FeeMedUSD+RevUSD+GasLmtTxMean', data=df).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         TxTfrValAdjUSD   R-squared:                       0.695
Model:                            OLS   Adj. R-squared:                  0.694
Method:                 Least Squares   F-statistic:                     1139.
Date:                Sun, 27 Jun 2021   Prob (F-statistic):               0.00
Time:                        16:15:00   Log-Likelihood:                -79752.
No. Observations:                3510   AIC:                         1.595e+05
Df Residuals:                    3502   BIC:                         1.596e+05
Df Model:                           7
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept    -4.937e+07    1.6e+08     -0.309      0.757   -3.62e+08    2.63e+08
etc            -1.7e+07   1.82e+08     -0.093      0.926   -3.74e+08     3.4e+08
days         -2.945e+06   5.88e+05     -5.009      0.000    -4.1e+06   -1.79e+06
etc:days      2.834e+06   5.74e+05      4.937      0.000    1.71e+06    3.96e+06
AdrBalCnt       95.5555     16.832      5.677      0.000      62.554     128.557
FeeMedUSD    -2.393e+08   3.93e+07     -6.085      0.000   -3.16e+08   -1.62e+08
RevUSD         257.1512      7.064     36.401      0.000     243.301     271.002
GasLmtTxMean    15.7181    228.124      0.069      0.945    -431.551     462.987
==============================================================================
Omnibus:                     9508.087   Durbin-Watson:                   1.698
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        346951017.717
Skew:                          32.576   Prob(JB):                         0.00
Kurtosis:                    1541.853   Cond. No.                     1.85e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.85e+08. This might indicate that there are
strong multicollinearity or other numerical problems.